extends ../../layouts/default.pug 
include ../../mixins/filter-status.pug 
include ../../mixins/search.pug 
include ../../mixins/pagination.pug 
include ../../mixins/form-change-multi.pug 

block main 
  - if (messages.info)
      .message.info
      div(
        class = "alert alert-success"
        show-alert
        data-time = "5000"
      ) #{messages.info}
        
  h1 Danh sách sản phẩm
  


  .card.mb-3 
    .card-header Bộ lọc và tìm kiếm 
    .card-body
      .row 
        .col-6
          +filter-status(filterStatus)
        .col-6
          +search(keyword) 
          
      
  

  .card.mb-3 
    .card-header Danh sách 
      .card-body 
        .row 
          .col-8
            +form-change-multi(path)
          .col-4
            a(href=`${preFixAdmin}/products/create`
            class = "btn btn-outline-success"
            ) +Them moi 
  


        table(
          class="table table-hover table-sm"
          checkbox-multi
        )
          thead 
            tr 
              th 
                input(type="checkbox" name="checkall")
              th STT 
              th Hình ảnh
              th Tiêu đề
              th Giá 
              th Trạng thái 
              th Hành động 
          
          tbody 
            each item, index in products 
              tr 
                td 
                  input(
                    type="checkbox"
                    name="id"
                    value=item.id
                  )
                td #{index +1}
                td 
                  img(
                    src=item.thumbnail, 
                    alt="Sản phẩm 1",
                    width= "100px",
                    height = auto 
                    )
                td #{item.title}
                td #{item.price}$
                td 
                  if(item.status == "active")
                    a(
                      href="javascript:;" 
                      data-status=item.status
                      data-id=item.id
                      button-change-status
                      class = "badge badge-success" 
                      ) Hoạt động 
                  else
                    a(
                      href="javascript:;"
                      data-status=item.status
                      data-id=item.id
                      button-change-status
                      class = "badge badge-danger"
                      ) Dừng hoạt động
                td 
                  a(
                    href=`${preFixAdmin}/products/detail/${item.id}`
                    class = "btn btn-secondary btn-sm"
                  ) Chi tiết
                  a(
                    href=`${preFixAdmin}/products/edit/${item.id}`
                    class = "btn btn-warning btn-sm"
                  ) Sửa 
                  button(
                    class = "btn btn-danger btn-sm ml-1"
                    button-delete
                    data-id = item.id 
                    
                    ) Xóa

  +pagination(pagination)

  form(
   action=""
   method="POST"
   id="form-change-status"
   data-path=`${preFixAdmin}/products/change-status`
   ) 
  form(
   action=""
   method="POST"
   id="form-delete-item"
   data-path=`${preFixAdmin}/products/delete`
   ) 


  script(src="/admin/js/product.js") 
  

