mixin form-change-multi(path)
  form(
    action=`${preFixAdmin}/products/change-multi?_method=PATCH`
    method="POST"
    form-change-multi
  )
    .d-flex.align-items-start 
      .form-group 
        select(name="type", class="form-control")
          option(disable selected) -- Chọn hành động --
          option(value="active") Hoạt động 
          option(value="unactive") Dừng hoạt động 
          option(value="delete-all") Xóa tất cả

      .form-group
        input(
          type="text"
          name="ids"
          value=""
          class="form-control d-none"
        )
      button(type="submit" class="btn btn-primary") Áp dụng 